diffusion_control/
lightning_logs/
wandb/
__pycache__/

*.png
*.gif
*.mp4
*.pt
*.ckpt
*.swp
*.pth

soft_flow/
datasets/
datasets
logs/

*.data-00000-of-00001

models/curope/build/*
models/curope/curope.cpython-310-x86_64-linux-gnu.so

wandb_api_key.txt

RAFT/
FeatUp/

job.sh
slurm_logs/
